<!doctype html>
<html lang="en">
<head>
	<title>{% block title %} {{ title }} {% endblock %}</title>
	<link rel="stylesheet" href={{ url_for('static', filename='styles/stylesheet.css') }}>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script  type="text/javascript" src={{ url_for('static', filename='javascript/validator.js') }}> </script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<header>
		<h1>
			<a href={{ url_for('index') }}> <img src={{ url_for('static', filename='images/logo.jpeg')}} alt="Home"></a>
			Deluxe Video Club
		</h1>
		The comfort of the cinema in your own home!
	</header>

		<div class="mini-nav-bar">
			{% if user == True %}
				<div id="username">
					Welcome, {{ username }}!
				</div>
			{% endif %}
			Current hits: <div id="hits">0</div>
			<div class="search-container">
				<form action={{ url_for('results') }} method="post">
					<select name="select">
						<option value="#"> --- </option>
						{% for g in genres %}
					  <option value={{ g[1] }} name={{ g[1] }}>{{ g[1] }}</option>
						{% endfor %}
					</select>
					<input type="text"  placeholder="Search.." name="search" >
					<input type="submit" value = "Search">
				</form>
			</div>
		</div>

		<div class="section">
			<div class="nav">


				{% if user == True %}
					<ul>
						<li><a href={{ url_for('cart') }}><img class="shopping" src={{ url_for('static', filename='images/cart.png') }}>  Cart</a></li>
						<li><a href={{ url_for('history') }}><img class="shopping" src={{ url_for('static', filename='images/history.png') }}>  Purchase History</a></li>
						<li><a href={{ url_for('logout') }}><img class="shopping" src={{ url_for('static', filename='images/logout.png') }}>  Logout</a></li>
						<li><a href={{ url_for('index') }}><img class="shopping" src={{ url_for('static', filename='images/home.png') }}> Home</a></li>
					</ul>
				{% else %}
					<form action={{ url_for('user')}} name="login" method="post" name="login">
						Username:<br>
						<input type="text" id="username" name="username" required value={{ cookie }}>
						<br>
						Password:<br>
						<input type="password" id="password" name="password" required>
						<p>
						<input type="hidden" value={{ url_for('user') }}>
						<input type="submit" onclick="return validate_login()" value="Submit">
					</form>
					<ul>
						<li><a href={{ url_for('register') }}><img class="shopping" src={{ url_for('static', filename='images/register.png') }} >Register</a></li>
						<li><a href={{ url_for('cart') }}><img class="shopping" src={{ url_for('static', filename='images/cart.png') }}>  Cart</a></li>
						<li><a href={{ url_for('index') }}><img class="shopping" src={{ url_for('static', filename='images/home.png') }}> Home</a></li>
					</ul>

				{% endif %}

			</div>

			<div class="article">
				{% block article %}	{% endblock %}
			</div>
		</div>

		<footer>
			Deluxe Video Club © All rights reserved.
		</footer>
				{% if loginsuccess == False%}
					<script>error_login()</script>
				{% endif%}


				{% if message == 1%}
					<script>ok_buy()</script>

				{% elif message == 2 %}
					<script>error_buy()</script>
				{% endif%}

	</body>
</html>
