{% extends 'base.html' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block article %}
	<div class="movie">
		<img src={{ url_for('static', filename='images/pelis.jpg') }} alt={{ title }}>
		<h2>{{ title }}</h2>
		<p><h4>Genre(s): </h4>
			{% if mdetails[3] != None %}
				{%for x in mdetails[3] %}
					{{ x }},
				{% endfor %}
			{% endif %}
		<p><h4>Language(s): </h4>
			{% if mdetails[4] != None %}
				{%for x in mdetails[4] %}
					{{ x }},
				{% endfor %}
			{% endif %}
		<p><h4>Director(s): </h4>
		{% if mdetails[2] != None %}
			{%for x in mdetails[2] %}
				{{ x }},
			{% endfor %}
		{% endif %}
		<p><h4>Actor(s): </h4>
			{% if mdetails[1] != None %}
				{%for x in mdetails[1] %}
					<p>{{ x }}
				{% endfor %}
			{% endif %}
		<div class= "form-prices">
		<form action={{ url_for('add_to_cart', pelicula=mdetails[5]) }} method="post">
			{% if mdetails[0] != None %}
				{%for i in range(0,long) %}
					<p>Version: {{ mdetails[0][1][i] }}
					<p><input type="radio" name="price" value={{mdetails[0][0][i]}} checked>{{mdetails[0][0][i]}}
				{% endfor %}
			{% endif %}
			<br>
			<input type="submit"  value="Add to Cart">
		</form>
	</div>

	</div>
{% endblock %}
