{%extends 'base.html'%}

{% block title %}
{% endblock %}

{% block article %}
	{% if existe == True%}
	<div class="cart-table">
		<table>
			<tr>
				<th>Buys</th>
				<th>Date of Purchase</th>
				<th>Total Price</th>

			</tr>
			{% for m in history.compras %}
				<tr>
					<td id=namebuy class="principal"> <script>namebuy()</script></td>
					<td class="principal">{{ m.date }}</td>
					<td class="principal">{{ m.precio }}</td>
				</tr>

				<tr>
					<th></th>
					<th class="details">Movies</th>
					<th class="details">Price (Ud.)</th>
					<th class="details">Quantity</th>

				</tr>
				{% for peli in m.peliculas %}
					<tr>
						<td ></td>
						<td class="details"> {{ peli.titulo }}</td>
						<td class="details">{{ peli.precio }}</td>
						<td class="details">{{ peli.cantidad }}</td>

					</tr>
				{% endfor %}
			{% endfor %}
		</table>
	</div>

	</form >

	{%else%}
		<h2>It seems that you haven't bought anything yet... Why not start with some of these?</h2><br>
	{% for m in movies%}
			<div class="movie-desc">
				<div class="movie-desc">
					<a href={{ url_for('description', movieid=m[0], title=m[1]) }} method="post">
					<img src={{ url_for('static', filename='images/pelis.jpg') }} alt={{ m[1] }}> </a>
					{{ m[1] }}
			</div>
	{% endfor %}
	{% endif %}
	<br><p>Your balance is {{saldo}}. Would you like to increase it?
	<form action={{ url_for('increase') }} method="post">
		<input type="text" name="money" placeholder="Quantity..." required>
		<input type="submit" value = "Increase">

{% endblock %}
