{% extends 'base.html' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block article %}
	<h3>Personal information</h3>
	<div class = "register">
		<form action={{ url_for('user_test') }} method="post" onsubmit="return validate_registration()" name="registration">
			<table>
				<tr>
					<td>First Name:<input type="text" name="FnameField" id="FnameField" required></td>
					<td>Last Name: <input type="text" name="LnameField" id="LnameField" required></td>
				</tr>
				<tr>
					<td>Age: <input type="integer" name="ageField" id="ageField" size="2" maxlength="2" pattern="[0-9]{0,2}"></td>
					<td>
						<input type="radio" name="gender" value="male" checked> Male
		 				<input type="radio" name="gender" value="female"> Female
		 				<input type="radio" name="gender" value="other"> Other
					</td>
				</tr>
				<tr>
					<td>Address1: <input type="text" name="address1Field" id="address1Field" required></td>
					<td>Address2: <input type="text" name="address2Field" id="address2Field"></td>
				</tr>
				<tr>
					<td>City: <input type="text" name="cityField" id="cityField" required></td>
					<td>State: <input type="text" name="stateField" id="stateField"></td>
				</tr>
				<tr>
					<td>Country: <input type="text" name="countryField" id="countryField" required></td>
					<td>Region: <input type="text" name="regionField" id="regionField" required></td>
				</tr>
				<tr>
					<td>Zip: <input type="text" name="zipField" id="zipField"></td>
				</tr>
				<tr>
					<td>Email: <input type="text" name="emailField" id="emailField" required></td>
					<td>Phone: <input type="text" name="phoneField" id="phoneField" maxlength="11"></td>
				</tr>
				<tr>
					<td>Credit Card Type: <input type="text" name="creditcardtypeField" maxlength="14" id="creditcardtypeField" required></td>
					<td>Credit Card: <input type="text" name="creditcardField" id="creditcardField" size="16" required><br></td>
				</tr>
				<tr>
					<td>Credit Card Expiration:
						<select id="exMonth" name="exMonth" title="Month" required>
					    <option value="01" selected>January</option>
					    <option value="02">February</option>
					    <option value="03">March</option>
					    <option value="04">April</option>
					    <option value="05">May</option>
					    <option value="06">June</option>
					    <option value="07">July</option>
					    <option value="08">August</option>
					    <option value="09">September</option>
					    <option value="10">October</option>
					    <option value="11">November</option>
					    <option value="12">December</option>
						</select>
						<select id="exYear" name='exYear' title="Year" required>
						    <option value="2018selected">2018</option >
						    <option value="2019">2019</option>
						    <option value="2020">2020</option>
						    <option value="2021">2021</option>
						    <option value="2022">2022</option>
						    <option value="2023">2023</option>
						    <option value="2024">2024</option>
						    <option value="2025">2025</option>
						    <option value="2026">2026</option>
						    <option value="2027">2027</option>
						    <option value="2028">2028</option>
						    <option value="2029">2029</option>
						    <option value="2030">2030</option>
						    <option value="2031">2031</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>Username: <input type="text" name="usernameField" id="usernameField" required></td>
					<td>Password: <input type="password" onkeydown="return validate_psw()" id="passwordField" name="passwordField" required></td>
				</tr>
				<tr>
					<td>Password Strength:</td><td><meter value="0" min="0" max="4" id="strengthbar"></meter></td>
				</tr>
				<p>
				<tr><td><input type="submit" value="Finish"></td></tr>
			</table>
		</form>
	</div>
{% endblock %}
